body {
background-color: navy;
font-family: "Verdana", sans-serif;
font-size 150%;
}

nav {
color: navy;
font-family: "Verdana", sans-serif;
font-size 150%;
}

h1 {
color: navy;
font-family: "Verdana", sans-serif;
font-size 150%;
}


p {
color: navy;
font-family: "Verdana", sans-serif;
font-size 150%;
}
