body {
background-color: #A9A9A9;
font-family: "Verdana", sans-serif;
font-size 150%;
}

nav {
color: #A9A9A9;
font-family: "Verdana", sans-serif;
font-size 150%;
}

h1 {
color: #A9A9A9;
font-family: "Verdana", sans-serif;
font-size 150%;
}


p {
color: #A9A9A9;
font-family: "Verdana", sans-serif;
font-size 150%;
}
