body {
background-color: ;
font-family: ;
font-size ;
}

nav {
color: navy;
font-family: ;
font-size ;
}

h1 {
color: ;
font-family: ;
font-size ;
}


p {
color: navy;
font-family: "Courier New", monospace;
font-size 150%;
}
